<h1>Listing peaks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Altitude</th>
      <th>Park</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peaks.each do |peak| %>
      <tr>
        <td><%= peak.name %></td>
        <td><%= peak.altitude %></td>
        <td><%= peak.park %></td>
        <td><%= link_to 'Show', peak %></td>
        <td><%= link_to 'Edit', edit_peak_path(peak) %></td>
        <td><%= link_to 'Destroy', peak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peak', new_peak_path %>
